{% extends "layout.html" %}
{% block content %}

<div class="container">
 <div class="row">
  <div class="col-xs-12">
   <div class="col-xs-12">
    <p class="lead">
     {% if name %}
      check: {{ name }}<br>
      select model: {{ model }}
     {% else %}
      image check
     {% endif %}
    </p>
   </div>

   <form action="/post" method="POST" class="form-inline">
   <div class="col-xs-2 col-xs-offset-1"><label for="model">select model</label></div>
   <div class="col-xs-9">
      <select class="form-control" name="model" id="model">
       <option value="all">all</option>
       <option value="a_b_pu_model_v1" selected>default b pu model v1</option>
       <option value="s_pa_model_v1">someya pa model v1</option>
       <option value="s_pa_model_v2">someya pa model v2</option>
       <option value="s_pa_model_v3">someya pa model v3</option>
      </select>
   </div>

   <div class="col-xs-2 col-xs-offset-1"><label for="name">image url</label></div>
   <div class="col-xs-9">
    <input type="text" class="form-control" id="name" size=70 name="name" placeholder="Image URL">
    <button type="submit" class="btn btn-default">submit</button>
   </form>
   </div>

     <div class="row">
       <div class="col-xs-6">
        {% if detectname %}
         <img src={{ detectname }} class="img-responsive">
        {% endif %}
       </div>
       <div class="col-xs-6">
        {% if detectname %}
         <pre>{{ detail }}</pre>
        {% endif %}
       </div>
     </div>

  </div>
 </div>
</div>


{% endblock %}
